# Introduction to Python and Jupyter
1. sfdsdf
1. sdfgsf
1. sdfsd

Good practice to start with hello world:

In [1]:
print('Hello World!')

Hello World!

## Basics

Dynamically typed, i.e. no declaration required. Strings are arrays of letters.

In [2]:
x = 5
y = "John"
print(x)
print(y)
print(y[1:3]) # Strings are list of letters, here second and third are selected
print(len(y)) # How long is John's name?

5
John
oh
4

Indentation for program structure and a comment:

In [3]:
for i in range(1,10):
    print('Hello, World '+ str(i) + '!')
    # Greet some parallel worlds

Hello, World 1!
Hello, World 2!
Hello, World 3!
Hello, World 4!
Hello, World 5!
Hello, World 6!
Hello, World 7!
Hello, World 8!
Hello, World 9!

In [5]:
float('2')

2.0

## Data structures

### Lists

In [9]:
l = ["apple", "banana", "cherry"]
print(l)
print(l[1]) # Print only the second item
l.append('pear') # Append an item
print(l)
print(l[1:3]) # Range of elements
print(l[-1]) # Final element
l[3] = 'orange' # Change item 4
print(l)
l[-1] = "melon"
print(l[-3:-1])

['apple', 'banana', 'cherry']
banana
['apple', 'banana', 'cherry', 'pear']
['banana', 'cherry']
pear
['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry']

Loop through lists

In [12]:
for x in l[0:3:2]:
    print(x)

apple
cherry

Conditional statement based on list

In [11]:
if "apple" in l:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

List length

In [14]:
len(l)

4

### Tuples
Tuples are ordered and unchangeable

In [15]:
t = ("apple", "banana", "cherry")
print(t)
print(t[1]) # Print only the second item
print(t[1:3]) # Range of elements
print(t[-1]) # Final element

('apple', 'banana', 'cherry')
banana
('banana', 'cherry')
cherry

In [16]:
for x in t:
    print(x)

apple
banana
cherry

### Sets
Sets are unordered data structures

In [19]:
s = {"apple", "banana", "cherry"}
s2 = {"banana", "cherry", "orange"}
s.intersection(s2)

{'banana', 'cherry'}

In [20]:
for x in s.intersection(s2):
    print(x)

banana
cherry

Add items

In [21]:
s.add('pear')
print(s)

{'banana', 'cherry', 'apple', 'pear'}

In [22]:
s.remove('banana')
print(s)

{'cherry', 'apple', 'pear'}

### Dictionaries (Dicts)
Dicts support lookup

In [23]:
d ={
  "make": "Bombardier",
  "model": "Traxx",
  "power": 5600
}
print(d)

{'power': 5600, 'make': 'Bombardier', 'model': 'Traxx'}

Access model

In [24]:
d['model']

'Traxx'

Access power

In [25]:
d['power']

5600

Change power

In [26]:
d['power'] = 4200

Add item

In [27]:
d['year'] = 2016
print(d)

{'year': 2016, 'power': 4200, 'make': 'Bombardier', 'model': 'Traxx'}

## Pandas

In [28]:
import pandas as pd
import numpy as np

Read list of all stations in Germany

In [29]:
df = pd.read_csv(
    'http://download-data.deutschebahn.com/static/datasets/haltestellen/D_Bahnhof_2017_09.csv',
    sep = ';', # Separator default is ","
    decimal=",") # Grr

Inspect import

In [33]:
df.head()

,EVA_NR,DS100,IFOPT,NAME,VERKEHR,LAENGE,BREITE,STATUS
0,8000001,KA,de:05334:1008,Aachen Hbf,FV,6.091499,50.767800,NaN
1,8000002,TA,de:08136:1000,Aalen Hbf,FV,10.096271,48.841013,NaN
2,8000004,HA,de:05774:7131,Altenbeken,FV,8.943319,51.766433,NaN
3,8000007,FALZ,de:07331:55,Alzey,RV,8.109749,49.750200,NaN
4,8000009,NAN,de:09561:11000,Ansbach,FV,10.578239,49.298032,NaN

Access only a single column:

In [35]:
df['NAME'].head()

0    Aachen Hbf
1     Aalen Hbf
2    Altenbeken
3         Alzey
4       Ansbach
Name: NAME, dtype: object

Names of all long distance stations

In [36]:
df['VERKEHR'] == 'FV'

0        True
1        True
2        True
3       False
4        True
5        True
6       False
7       False
8        True
9        True
10      False
11      False
12      False
13      False
14       True
15      False
16      False
17      False
18       True
19       True
20       True
21      False
22       True
23      False
24       True
25      False
26      False
27      False
28       True
29      False
        ...
6575    False
6576    False
6577    False
6578    False
6579    False
6580    False
6581    False
6582    False
6583    False
6584    False
6585    False
6586    False
6587    False
6588    False
6589    False
6590    False
6591    False
6592    False
6593    False
6594    False
6595    False
6596    False
6597    False
6598    False
6599    False
6600    False
6601    False
6602    False
6603    False
6604    False
Name: VERKEHR, Length: 6605, dtype: bool

In [37]:
df[df['VERKEHR'] == 'FV']['NAME']

0                              Aachen Hbf
1                               Aalen Hbf
2                              Altenbeken
4                                 Ansbach
5                       Aschaffenburg Hbf
8                            Augsburg Hbf
9                               Aulendorf
14                           Bad Hersfeld
18                                Bamberg
19                           Basel Bad Bf
20                             Schwandorf
22                                  Bebra
24                               Bensheim
28                          Bielefeld Hbf
31                      Bingen(Rhein) Hbf
33                             Bochum Hbf
36                               Bonn Hbf
37                            Boppard Hbf
41                       Braunschweig Hbf
42                             Bremen Hbf
46                               Bruchsal
48                                Buchloe
49                                 Büchen
50                           Bünde(Westf)
55                                  Celle
58                             Crailsheim
59                          Darmstadt Hbf
61                            Delmenhorst
64                     Singen(Hohentwiel)
67                                  Soest
                      ...
4638                          Wittenberge
4651                               Züssow
4657                Berlin-Charlottenburg
4658                       Berlin-Spandau
4659                       Berlin Wannsee
4660           Berlin Zoologischer Garten
4683                               Anklam
4689                               Apolda
4725                 Berlin Gesundbrunnen
4732                      Berlin Südkreuz
4752                           Berlin Hbf
4769                       Ostseebad Binz
5083                Heilbad Heiligenstadt
5134                        Jena Paradies
5250              Leipzig/Halle Flughafen
5418                        Leipzig Messe
5530                          Potsdam Hbf
5542                                Prora
5588               Ribnitz-Damgarten West
5819                           Warnemünde
5938                     Bernau(b Berlin)
6031       Westerland(Sylt), Sylt Shuttle
6033        Frankfurt(M) Flughafen Fernbf
6034    Frankfurt(M) Flughafen Regionalbf
6199            Köln Messe/Deutz Gl.11-12
6353                Niebüll, Sylt Shuttle
6501                    Berlin Hbf (tief)
6503                   Leipzig Hbf (tief)
6504                 München Hbf Gl.27-36
6505                  München Hbf Gl.5-10
Name: NAME, Length: 348, dtype: object

How many long distance stations are there in Germany?

In [38]:
df[df['VERKEHR'] == 'FV']['NAME'].count()

348

List all stations with Berlin in their name

In [39]:
df[df['NAME'].str.contains('Berlin')]['NAME']

697                    Hamburg Berliner Tor
4370                      Berlin-Karlshorst
4371                     Berlin-Lichtenberg
4373                     Berlin-Schöneweide
4425            Berlin-Schönefeld Flughafen
4541                      Berlin Ostbahnhof
4657                  Berlin-Charlottenburg
4658                         Berlin-Spandau
4659                         Berlin Wannsee
4660             Berlin Zoologischer Garten
4680                Berlin-Lichterfelde Ost
4685                           Berlin-Karow
4725                   Berlin Gesundbrunnen
4732                        Berlin Südkreuz
4735                 Berlin Potsdamer Platz
4751                  Berlin Alexanderplatz
4752                             Berlin Hbf
4753                        Berlin Ostkreuz
4754                   Berlin Jungfernheide
4776                     Blumberg(b Berlin)
4821                 Berlin Friedrichstraße
5103                Berlin-Hohenschönhausen
5708                         Berlin-Staaken
5938                       Bernau(b Berlin)
5948                  Hennigsdorf(b Berlin)
6283                    Bergfelde(b Berlin)
6285                 Birkenwerder(b Berlin)
6291                  Fredersdorf(b Berlin)
6305              Hohen Neuendorf(b Berlin)
6315                   Neuenhagen(b Berlin)
                       ...
6461               Berlin Jungfernheide (S)
6462                    Berlin Eichborndamm
6463    Berlin Karl-Bonhoeffer-Nervenklinik
6464               Berlin Alt-Reinickendorf
6465                Berlin Köllnische Heide
6466                   Berlin Hermannstraße
6467               Berlin Innsbrucker Platz
6468                     Berlin Bundesplatz
6469                Berlin Hohenzollerndamm
6470                        Berlin-Halensee
6471      Berlin Messe Nord/ICC (Witzleben)
6472                         Berlin Westend
6473              Berlin Heidelberger Platz
6474            Berlin-Lichterfelde Ost (S)
6475                        Berlin-Lankwitz
6476                         Berlin Südende
6477                       Berlin Westhafen
6478                   Berlin Beusselstraße
6480                         Berlin-Wedding
6481                 Berlin-Schöneweide (S)
6483                     Berlin Sonnenallee
6484            Berlin Messe Süd (Eichkamp)
6485                      Berlin Heerstraße
6486                  Berlin Olympiastadion
6487                     Berlin-Pichelsberg
6488                Berlin-Lichterfelde Süd
6489                 Berlin Osdorfer Straße
6490                      Berlin-Schöneberg
6491             Berlin Julius-Leber-Brücke
6501                      Berlin Hbf (tief)
Name: NAME, Length: 152, dtype: object

Name, Lat and Lon of 'Berlin' Stations

In [40]:
df2 = df[df['NAME'].str.contains('Berlin')][['NAME','LAENGE', 'BREITE']]
df2.head()

                             NAME     LAENGE     BREITE
697          Hamburg Berliner Tor  10.024630  53.552870
4370            Berlin-Karlshorst  13.526813  52.480681
4371           Berlin-Lichtenberg  13.496923  52.509896
4373           Berlin-Schöneweide  13.509395  52.455127
4425  Berlin-Schönefeld Flughafen  13.512710  52.391062

Find southernmost 'Berlin' station

In [41]:
df2.sort_values('BREITE', inplace = True)
df2.head()

                             NAME     LAENGE     BREITE
6434           Berlin-Lichtenrade  13.396175  52.387297
4425  Berlin-Schönefeld Flughafen  13.512710  52.391062
6405           Berlin Schichauweg  13.389303  52.398837
6384         Berlin Grünbergallee  13.542485  52.399411
6420          Berlin-Altglienicke  13.558753  52.407299

Export to JSON format

In [42]:
df2.to_json('BerlinStations.json')

Read data from AWS cloud storage (S3)

In [43]:
df = pd.read_json('https://s3-eu-west-1.amazonaws.com/ifvworkshopdata/emma1000.json')

In [44]:
df.head()

     v         x          y           z
0 -1.0  9.678717  47.992597  557.519958
1 -1.0  9.678717  47.992597  557.519958
2  0.0  9.678639  47.992538  561.268433
3  0.0  9.678639  47.992538  561.268433
4  0.0  9.678639  47.992538  562.678432

In [45]:
df['v']

0     -1.00
1     -1.00
2      0.00
3      0.00
4      0.00
5      0.00
6      0.00
7      0.00
8      0.00
9      0.00
10     0.00
11     0.00
12     0.00
13     0.00
14     0.00
15     0.00
16     0.00
17     0.00
18     0.00
19     0.00
20     0.29
21     0.29
22     0.29
23     0.29
24     0.29
25     0.29
26     0.29
27     0.29
28     0.35
29     0.35
       ...
970    0.00
971    0.00
972    0.00
973    0.00
974    0.00
975    0.00
976    0.00
977    0.00
978    0.00
979    0.00
980    0.00
981    0.00
982    0.00
983    0.00
984    0.00
985    0.00
986    0.00
987    0.00
988    0.00
989    0.00
990    0.00
991    0.00
992    0.00
993    0.00
994    0.00
995    0.00
996    0.00
997    0.00
998    0.00
999    0.00
Name: v, Length: 1000, dtype: float64